Files/Benefits_Cost_Sharing_PUF.csv
Files/Business_Rules_PUF.csv
Files/Machine_Readable_PUF.xlsx
Files/Network_PUF.csv
Files/Plan ID Crosswalk.CSV
Files/Plan_Attributes_PUF.csv
Files/Rate_PUF.csv
Files/Service_Area_PUF.csv
Files/Transparency_in_Coverage_PUF.xlsx
